* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.carouselImg {
  width: 798px;
  height: 706.98px;
}
.navbar {
  display: flex;
  position: relative;
  right: 0;

  justify-content: space-around;
  padding: 3.9rem 0.1rem;
  background-color: white;
  transition: right 2.5s ease-in-out;

  margin-top: 0.2rem;
}
#logo {
  height: 4.1rem;
  width: 9.7rem;
  padding-bottom: 2rem;
  position: relative;
  top: 2rem;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 50rem;
  position: relative;
  top: 2rem;
  transition: right 2.5s ease-in-out;

  font-size: 2rem;
}
.rightnav {
  position: relative;
  top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.3rem;
}
.call {
  color: black;
}
.login {
  padding: 0.8rem 1.8rem;
  background-color: #197056;
  color: white;
  border: 0.1rem solid #197056;
}
.icon {
  cursor: pointer;
  font-size: 2.3rem;
  margin-left: 1.2rem;
}
.icon:hover {
  color: #197056;
}
.menu {
  position: relative;
  z-index: 1000;
  flex: none;
  display: none;
}
.login:hover {
  background-color: white;
  color: #197056;
  border: 0.1rem solid #197056;
}
.link {
  color: black;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-family: "Arial Narrow", Arial, sans-serif;
}
.link:hover {
  color: #197056;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 3.5rem;
}
.capHeading {
  font-size: 4rem;
}
.capPara {
  font-size: 2rem;
  font-weight: bold;
}
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#rootHeading {
  width: fit-content;
  margin: auto;
  color: #197056;
  font-weight: bolder;
  border-bottom: 1px solid #197056;
  padding-bottom: 3px;
}
.disp {
  width: fit-content;
  margin: auto;
  color: #197056;
  cursor: pointer;
}
.button {
  width: fit-content;
  margin: auto;
  outline: none;
}
.button span {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 3rem;
  border-bottom: 1px solid grey;
  font-weight: 600;
}
.button span:active,
.button span:hover {
  color: #197056;
  border-bottom: 3px solid #197056;
}
.btn {
  font-size: 2rem;
}
.mobile_heading {
  color: #197056;
  font-weight: 2000;
}
.img_mobile {
  width: 78.5rem;
  height: 55.30625rem;
}
.right-mobile {
  height: 27rem;
}
.green {
  color: #197056;
  border-bottom: 3px solid #197056;
}
.card_img:hover {
  transform: scale(1.2, 1.2);
}

.card_img {
  transition: all 0.5s ease-in-out;
}
.card-btn {
  margin-left: 60px;
}
.card_text {
  height: 20rem;
  overflow: auto;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.card_title {
  height: 5rem;
}
.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carouselHeight {
  margin: auto;
  width: 69vw;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 998px) {
  html {
    font-size: 45%;
  }
  .right_img {
    padding-top: 0;
    transform: scale(0.6, 0.6);
    margin: auto auto;
  }

  .content {
    flex-direction: column;
    height: 56rem;
    align-items: center;
  }
  .d_para {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .carouselHeight {
    min-height: 1rem;
    text-align: center;
  }
  .carouselImg {
    height: 500.98px;
  }
  .menu {
    display: block;
  }
  .nav {
    position: absolute;
    top: 0rem;
    z-index: 100;
    width: 100vw;
    background-color: white;
    height: 74vh;
    align-items: center;
    flex-flow: column;
    transition: right 2.5s ease-in-out;
    visibility: hidden;
  }
  .nav.active {
    visibility: visible;
  }
  .hbl_mobile {
    flex-direction: column-reverse;
  }
  .right_img {
    margin: auto auto;
    width: 50rem;
    height: 70rem;
  }

  .navbar {
    justify-content: space-evenly;
  }
  .img_mobile {
    width: 72.8rem;
    height: 48.50625rem;
  }
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 320px) {
  html {
    font-size: 40%;
  }
}
