* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.carouselImg {
  width: 798px;
  height: 706.98px;
}
.navbar {
  display: flex;
  position: sticky;
  /* position: relative; */
  right: 0;
  width: 100%;

  justify-content: space-around;
  align-items: center;
  /* padding: 3.9rem 0.1rem; */
  background-color: white;
  transition: right 2.5s ease-in-out;

  margin-top: 0.2rem;
}
#logo {
  height: 9.1rem;
  width: 9.7rem;
  padding-bottom: 2rem;
  position: relative;
  top: 2rem;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 84rem;
  position: relative;
  /* top: 2rem; */
  transition: right 2.5s ease-in-out;

  font-size: 2rem;
}
.rightnav {
  position: relative;
  top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.3rem;
}
.call {
  color: black;
}
.login {
  padding: 0.8rem 1.8rem;
  background-color: #da7c11;
  color: white;
  border: 0.1rem solid #da7c11;
}
.icon {
  cursor: pointer;
  font-size: 2.3rem;
  margin-left: 1.2rem;
}
.icon:hover {
  color: #da7c11;
}
.menu {
  position: relative;
  z-index: 1000;
  flex: none;
  display: none;
}
.login:hover {
  background-color: white;
  color: #da7c11;
  border: 0.1rem solid #da7c11;
}
.link {
  color: black;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-family: "Arial Narrow", Arial, sans-serif;
}
.link:hover {
  color: #da7c11;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 3.5rem;
}
.capHeading {
  font-size: 4rem;
}
.capPara {
  font-size: 2rem;
  font-weight: bold;
}
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#rootHeading {
  width: fit-content;
  margin: auto;
  color: #da7c11;
  font-weight: bolder;
  border-bottom: 1px solid #197056;
  padding-bottom: 3px;
}
.left {
  /* height: 41rem; */
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}
.disp {
  width: fit-content;
  margin: 0px auto;
  color: #da7c11;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
.playstore_img {
  width: 59rem;
  height: 49rem;
}
.apple {
  font-size: 2.8rem;
}
.button {
  width: fit-content;
  margin: auto;
  outline: none;
}
.button_container {
  display: flex;
  width: 17rem;
  text-align: center;
  justify-content: space-between;
  /* align-self: center; */
}
.button span {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 3rem;
  border-bottom: 1px solid grey;
  font-weight: 600;
}
.button span:active,
.button span:hover {
  color: #da7c11;
  border-bottom: 3px solid #da7c11;
}
.btn {
  font-size: 2rem;
}
.mobile_heading {
  color: #da7c11;
  font-weight: 2000;
}
.img_mobile {
  width: 78.5rem;
  height: 55.30625rem;
}
.right-mobile {
  height: 27rem;
}
.green {
  color: #da7c11;
  border-bottom: 3px solid #da7c11;
}
.systemimg {
  width: 52rem;
  height: 40rem;
}
.card_img:hover {
  transform: scale(1.2, 1.2);
}

.card_img {
  transition: all 0.5s ease-in-out;
  min-height: 23.8rem;
}
.main_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-btn {
  /* margin-left: 60px; */
}
.card_text {
  height: 20rem;
  overflow: auto;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.card_title {
  height: 5rem;
}
.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carouselHeight {
  margin: auto;
  width: 69vw;
}
.content {
}
.leftabout {
  height: auto;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 45%;
  }
  .hh1 {
    font-size: xx-large;
  }
  .hh2 {
    font-size: large;
  }
  .hh3 {
    font-size: medium;
  }
  .right_img {
    height: 39rem;
  }
}
@media screen and (max-width: 998px) {
  html {
    font-size: 40%;
  }

  .content {
    flex-direction: column;
    height: 56rem;
    align-items: center;
  }
  .d_para {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 35%;
  }
  .carouselHeight {
    min-height: 1rem;
    text-align: center;
  }
  .carouselImg {
    height: 500.98px;
  }
  .menu {
    display: block;
  }
  .nav {
    position: absolute;
    top: 0rem;
    z-index: 100;
    width: 100vw;
    background-color: white;
    height: 74vh;
    align-items: center;
    flex-flow: column;
    transition: right 2.5s ease-in-out;
    visibility: hidden;
  }
  .nav.active {
    visibility: visible;
  }
  .hbl_mobile {
    flex-direction: column-reverse;
  }

  .navbar {
    justify-content: space-evenly;
    background-color: #fff;
    position: relative;
  }
  .img_mobile {
    width: 72.8rem;
    height: 48.50625rem;
  }
}
@media screen and (max-width: 660px) {
  .hh1 {
    font-size: large;
  }
  .hh2 {
    font-size: medium;
  }
  .hh3 {
    font-size: small;
  }
}
@media screen and (max-width: 576px) {
  .right_img {
    height: 30rem;
    width: 31rem;
  }
}
@media screen and (max-width: 378px) {
  .hh1 {
    font-size: large;
  }
  .hh2 {
    font-size: medium;
  }
  .hh3 {
    font-size: small;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 40%;
  }
}
