* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.navbar {
  display: flex;
  position: relative;
  right: 0;

  justify-content: space-around;
  padding: 3.9rem 0.1rem;
  background-color: white;
  transition: right 2.5s ease-in-out;

  margin-top: 0.2rem;
  /* z-index: -1; */
}
#logo {
  height: 4.1rem;
  width: 9.7rem;
  padding-bottom: 2rem;
  position: relative;
  top: 2rem;
}
.nav {
  display: flex;
  justify-content: space-around;
  width: 50rem;
  position: relative;
  top: 2rem;
  transition: right 2.5s ease-in-out;

  font-size: 2rem;
}
.rightnav {
  position: relative;
  top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18.3rem;
}
.call {
  color: black;
}
.login {
  padding: 0.8rem 1.8rem;
  background-color: #197056;
  color: white;
  border: 0.1rem solid #197056;
  margin-left: 1.2rem;
}
.icon {
  cursor: pointer;
  font-size: 2.3rem;
  margin-left: 1.2rem;
}
.icon:hover {
  color: #197056;
}
.menu {
  position: relative;
  /* left: 7.9rem; */
  z-index: 1000;
  flex: none;
  display: none;
}
.login:hover {
  background-color: white;
  color: #197056;
  border: 0.1rem solid #197056;
}
.link {
  color: black;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-family: "Arial Narrow", Arial, sans-serif;
}
.link:hover {
  color: #197056;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  margin-top: 6.7rem;
}
input {
  margin: 0.8rem 0;
  text-align: center;
  outline: none;
  width: 32%;
  border-radius: 0.7rem;
}
input[type="submit"] {
  border-radius: 0rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  width: inherit;
  border: none;
}
input[type="submit"]:hover {
  background-color: orange;
  color: white;
}
.footer {
  bottom: 0;
  left: 0;
  right: 0;
}
.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
}
.capHeading {
  font-size: 4rem;
}
.capPara {
  font-size: 2rem;
  font-weight: bold;
}
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#rootHeading {
  width: fit-content;
  margin: auto;
  color: #197056;
  font-weight: bolder;
  border-bottom: 1px solid #197056;
  padding-bottom: 3px;
}
.disp {
  width: fit-content;
  margin: auto;
  color: #197056;
  font-size: 6.3rem;
}
.button {
  width: fit-content;
  margin: auto;
  outline: none;
}
.button span {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 3rem;
  border-bottom: 1px solid grey;
  font-weight: 600;
  /* width: fit-content;
  margin: 5px auto; */
}
.button span:active,
.button span:hover {
  color: #197056;
  border-bottom: 3px solid #197056;
}
.btn {
  font-size: 2rem;
}
.mobile_heading {
  color: #197056;
  font-weight: 2000;
}
.img_mobile {
  width: 785px;
  height: 553.0625px;
}
.right-mobile {
  height: 40vh;
}
.green {
  color: #197056;
  border-bottom: 3px solid #197056;
}
.card_img:hover {
  transform: scale(1.2, 1.2);
}

.card_img {
  transition: all 0.5s ease-in-out;
}
.card-btn {
  margin-left: 60px;
}
.card_text {
  height: 20rem;
  overflow: auto;
  font-size: 1.7rem;
  line-height: 2.5rem;
}
.card_title {
  height: 5rem;
}
.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 998px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .right_img {
    padding-top: 0;
    width: 34rem;
    height: 33rem;
  }
  .content {
    flex-direction: column;
    height: 56rem;
  }
  .menu {
    display: block;
  }
  .nav {
    position: absolute;
    top: 0rem;
    z-index: 100;
    width: 100vw;
    background-color: white;
    /* right: -80vw; */
    height: 74vh;
    align-items: center;
    flex-flow: column;
    transition: right 2.5s ease-in-out;
    /* display: none; */
    visibility: hidden;
  }
  .nav.active {
    visibility: visible;
  }
  .nav.unactive {
    visibility: hidden;
  }
}
@media screen and (max-width: 576px) {
}
